.cor-fundo{
    background-color: 	#800000 !important;
}
.cor-fundo1{
    background-color: 	#80000056;
}
.cor-fundo2{
    background-color: #313131;  
    color: #F0F8FF;
}
.estulo-fundo{
    background-color: #363636;

}
.cor-fundo5{
    background-color: #1C1C1C
    ;

}

.label-estilo{
    color: rgb(58, 58, 58);
    font-weight: bold;
}



.cor-fundo4{
    background-color: #363636;
}

body{
    background-color: #F0F8FF;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: 	#1C1C1C;
}

.nav-link.active {
    color: #fff;
    background-color: #A52A2A!important;
}

.estilo-error{
    color: #D01F1F;
    font-size: 12px;
}

.estilo-valido{
    color: #27A324;
    font-size: 12px;
}

.border-vermelho{
    border-color: #B22222!important;
}

.border-vermelho1{
    border-top-width: 5px!important;
    border-color: #800000 !important;
}

.border-vermelho2{
    border-top-width: 3px!important;
    border-color: #C0C0C0 !important;
}

.cor-texto{
    color:	#C0C0C0
}

.estilo-texto{
    color:	#C0C0C0;
    font-size: 18px;
}

.estilo-texto1{
    color:	#C0C0C0;
    font-size: 12px;
}

.estilo-errorgramatica{
    color: #D01F1F;
    font-size: 16px;
}