.cor-fundo{
    background-color: 	#800000 !important;
}
.cor-fundo1{
    background-color: 	#80000056;
}
.cor-fundo2{
    background-color: #313131;  
    color: #F0F8FF;
}
.estulo-fundo{
    background-color: 	#80000094;

}

.cor-fundo4{
    background-color: #363636;
}

body{
    background-color: #F0F8FF;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: 	#1C1C1C;
}

.nav-link.active {
    color: #fff;
    background-color: #A52A2A!important;
}

.estilo-error{
    color: #D01F1F;
    font-size: 12px;
}

.estilo-valido{
    color: #27A324;
    font-size: 12px;
}

.border-vermelho{
    border-color: #B22222!important;
}